<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

</html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Janken Game</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Janken Game!</h1>
  <p>Hi <span sec:authentication="name"></span></p>

  <h2>エントリー</h2>
  <ul>
    <li th:each="user : ${users}">
      <a th:href="@{/match(id=${user.id})}"> [[${user.userName}]]</a>
    </li>
  </ul>

  <h2>アクティブな試合</h2>
  <div>
    <tr th:each="matchinfo : ${matchInfo}"> <!-- matchinfoリストをループ -->
      <td>id:[[${matchinfo.id}]]</td>
      <td>user1:[[${matchinfo.user1}]]</td>
      <td>user2:[[${matchinfo.user2}]]</td>
      <td>user1の手:[[${matchinfo.user1Hand}]]</td>
      <td>isActive:[[${matchinfo.isActive}]]</td>
      <br>
    </tr>
  </div>

  <h2>試合結果</h2>
  <div>
    <tr th:each="match : ${matches}"> <!-- usersリストをループ -->
      <td>id:[[${match.id}]]</td>
      <td>user1:[[${match.user1}]]</td>
      <td>user2:[[${match.user2}]]</td>
      <td>user1の手:[[${match.user1Hand}]]</td>
      <td>user2の手:[[${match.user2Hand}]]</td>
      <br>
    </tr>
  </div>
</body>
