<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Janken Game</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Janken Game!</h1>
  <p>エントリー</p>

  <ul>
    <li th:each="user : ${room.users}">[[${user}]]</li>
  </ul>

  <a th:each="user : ${room.users}">Hi [[${user}]]</a>
  <p>
    <a href="/janken_gu/Gu">ぐー</a>
    <a href="/janken_choki/Choki">ちょき</a>
    <a href="/janken_pa/Pa">ぱー</a>
  </p>
  <div>
    <p th:if="${myhand}">あなたの手 [[${myhand}]]</p>
    <p th:if="${myhand}">相手の手 Gu</p>
    <p th:if="${result}">結果 [[${result}]]</p>
  </div>

</body>

</html>
