<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

</html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Janken Info</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>相手の手を待っています...</h1>
  <a href="/janken">もどる</a>

  <div>
    <p th:if="${myhand}">[[${loginUser}]]の手 [[${myhand}]]</p>
    <p th:if="${myhand}">[[${opponent.userName}]]の手 Gu</p>
    <p th:if="${result}">結果 [[${result}]]</p>
  </div>

  <div>
    <tr th:each="matchinfo : ${matchInfo}"> <!-- matchinfoリストをループ -->
      <td>id:[[${matchinfo.id}]]</td>
      <td>user1:[[${matchinfo.user1}]]</td>
      <td>user2:[[${matchinfo.user2}]]</td>
      <td>user1の手:[[${matchinfo.user1Hand}]]</td>
      <td>isActive:[[${matchinfo.isActive}]]</td>
      <br>
    </tr>
  </div>
</body>
